<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>predict</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>
<body id="bg-img">
    <div class="icons">
        <h5 class="uche">
            Contact Me: 
        </h5>
        <a href="https://twitter.com/Uchencho_" target="_blank">
        <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/alozie-uche/" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/Uchencho" target="_blank">
        <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="mailto:alozieuche17@gmail.com" target="_blank">
        <i class="far fa-envelope fa-2x"></i>
        </a>
    </div>

    <div class="container">
        <h1 class="uche col-md-12 offset-md-0 mt-10">
            TITANIC ML PREDICTION
        </h1>
    </div>

    <div class="container">
        <div class="col-md-12 offset-md-0 mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Fill to Run a Prediction</h1>
                <hr class="my-4">
                <form action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.ticket_class|as_crispy_field }}
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.sex|as_crispy_field }}
                        </div>
                        <div class="col-md-6" id="age">
                            {{ form.age|as_crispy_field }}
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.siblings|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.parents|as_crispy_field }}
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success  btn-block btn-lg" id="id_btn">
                                <i class="fas fa-database"></i> Predict
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/> <br/>
    </div>
    <footer>
        <div class="footer">
        <p>&#x24b8; Uchencho {% now "M Y" %}</p>
        </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>